body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(5, 49, 3);
}

.container {
    width: 100%;
    max-width: 600px;
    background: #00990f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 30%;
    border-radius: 0%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    padding-bottom: 5%;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label {
    width: 80%;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 80%; /* Largura consistente para todos os campos */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #021d06;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.message {
    text-align: center;
    margin-top: 20px;
    color: red;
}


