*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*retira decoações do texto*/
    list-style: none; /*retira pontinho preto da lista*/
}

body{
    background-color: #00990f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background{
    background-color:#00990f ;
}

.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li{
    margin: 0 35px;
    font-size: 15px;
}

.ul li a{
    color: white;
}


.caixa {
    text-align: center;
    margin-top: 25px ;
    padding: 10px;
    margin-bottom: 15px;
    background-color:#00990f;
    color: white;
    align-items: center;
    justify-content: center;
    display: block;
}

.caixa1 {
    text-align: center;
    margin-top: 120px ; /* separei das demais para centraizar ajustando o topo*/
    padding: 10px;
    margin-bottom: 15px;
    background-color:#00990f;
    color: white;
    align-items: center;
    justify-content: center;
    display: block;
}