<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">
    <title>Tela de Cadastro</title>
</head>
<body> 
    <div class="container">
        <div class="logo">
            <img src="https://media-for1-1.cdn.whatsapp.net/v/t61.24694-24/386595697_872599451164183_4453984962273365752_n.jpg?ccb=11-4&oh=01_Q5AaIEaC_wmfoyMR_4FED8xNlaRKRcb9Ad4NPs4B9PHm2sZ8&oe=66E784DE&_nc_sid=5e03e0&_nc_cat=106" alt="Logo" />
        </div>
        <form class="form-cadastro" id="cadastroForm">
            <h2>Cadastro</h2>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <label for="genero">Gênero:</label>
            <select id="genero" name="genero" required>
                <option value="">Selecione</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>
            </select>

            <label for="tipo-conta">Tipo de Conta:</label>
            <select id="tipo-conta" name="tipo-conta" required>
                <option value="">Selecione</option>
                <option value="pesquisador">Pesquisador</option>
                <option value="estudante">Estudante</option>
                <option value="outro">Outro</option>
            </select>

            <button type="submit">Cadastrar</button>
        </form>
        <div id="message" class="message"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
