<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/style/contatos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>
<body>
    <div class="background">
        <header>

            <div class="container">
                <nav>
                    <div class="logo">
                        <h1> Contatos </h1>
                    </div>
                    <ul class="ul">
                        <li><a href="/"> Voltar</a></li>
                    </ul>
                </nav>

            </div>
        </header>
    </div>

    <main>

        <div class="caixa">
            <h1>Escola Sesi</h1>
            <p>Email: atendimento@escolasesipb.com.br</p>
            <p>Contato: 83 2101-5444</p>
            <p>Funcionamento: Segunda a Sexta 7h-18h30</p>
            <p>Atendimento: Segunda a Sexta 8h-12h e 14h-18h</p>
        </div>

        <div class="caixa">
            <h1>Campus VII</h1>
            <p>Email: ccea@setor.uepb.edu.br</p>
            <p>Contato: (83) 3421 1475</p>
            <p>Atendimento: Segunda a Sexta 7h30h às 21h30h</p>
        </div>

        <div class="logo-etnobook">
            <img src="../public/image/logo.png" alt="logo-etno">
        </div>
        
    
    </main>
</body>
</html>