<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/style/credit.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos</title>
</head>
<body>
    
    <div class="background">
        <header>

            <div class="container">
                <nav>
                    <div class="logo">
                        <h1> Créditos </h1> 
                    </div>
                    <ul class="ul">
                        <li><a href="/"> Voltar</a></li>
                    </ul>
                </nav>

            </div>
        </header>
    </div>
        
<main>
    <div class="caixa1"> 
        <h1>Equipe Etnobook</h1>
        <p>Agradecimento especial a todos que contriburiam com esse projeto.</p>
    </div>
    <div class="caixa">
        <h1>Escola Sesi</h1>
        <p>Uma escola que prepara para o futuro através de metodologias inovadoras, estrutura moderna, recursos tecnológicos de ponta e profissionais capacitados..</p>
    </div>
    <div class="caixa">
        <h2>Universidade Estadual da Paraiba - UEPB</h2>
        <p>Referência em ensino superior no Campus VII.</p>
    </div>


</main>


</body>
</html>