<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="../public/style/esq_senha.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="imagemPrincipal">
        <img src="../public/image/logo.png" alt="Logo">
    </div>
    <div class="esq_senha" autocomplete="off">
        <span class="titulo">Recuperar Senha</span>
        <p>Informe seu email para recuperacao da senha, apos o envio do email, cheque-o e complete-o seguindo as informacoes dadas.</p>
        <form action="/views/esq_senha" method="post">
            <div class="componentesEsqSenha">
                <i class="fa-solid fa-envelope"></i>
                <input class="estilo_input" type="email" name="email" id="email" placeholder="Email para Recuperacao" required>
            </div>
            <small class="erro" id="textEmail"></small>
            <input type="submit" value="Acessar" id="bttEnviar">
        </form>
    </div>
    <script src="../public/javaScript/esq_senha.js"></script>
</body>
</html>