<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../public/style/homepage.css">
</head>
<body>
    <div class="background">
        <header>

            <div class="container">
                <nav>
                    <div class="logo">
                        <a href="/"> Etnobook</a>
                    </div>
                    <ul class="ul">
                        <li><a href="#"> Sobre</a></li>
                        <li><a href="#"> Contatos</a></li>
                        <li><a href="#"> Créditos</a></li>
                        <li><a href="../views/login.html"> <button class="bot-comecar"> Começar </button></a></li>

                    </ul>
                </nav>

            </div>

        </header>

        <main>
            <div class="container">
                <div class="texto">
                    <h1> Bem Vindo ao Etnobook! </h1>
                    <h3> Etnobook é o seu guia digital para explorar e descobrir o mundo das plantas medicinais. Com um vasto banco de dados, nosso site facilita a busca por informações detalhadas sobre diversas plantas e suas propriedades medicinais. Perfeito para quem busca conhecimento sobre tratamentos naturais e saúde holística. Plante conhecimento, colha saúde com Etnobook! </h3>
                </div>

                <div class="logo-img">
                    <img src="../public/image/logo.png" alt="logo-etnobook">
                </div>
            </div>
        </main>

    </div>
</body>
</html>