<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantas Medicinais</title>
    <link rel="stylesheet" href="../public/style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Background e Container Principal -->
    <div class="background">
        <div class="container">
            <!-- Barra de Navegação com Ícones -->
            <header>
                <div class="navegacao">
                    <ul class="lista">
                        <li class="item">
                            <a href="../views/conta.html">
                                <span class="icones"><i class="icone fa-solid fa-user"></i></span>
                                <span class="nome">Perfil</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <span class="icones"><i class="icone fa-solid fa-magnifying-glass"></i></span>
                                <span class="nome">Página Inicial</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="/logout">
                                <span class="icones"><i class="icone fas fa-sign-out-alt"></i></span>
                                <span class="nome">Sair</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>
    </div>

    <main class="container">
        <h1>Etnobook</h1>
        <input type="input" id="searchBar" placeholder="Pesquisar plantas..." />

        <!-- Filtros para as plantas -->
        <div class="filtros">
            <select id="tipoPlanta">
                <option value="">Palavra-chave</option>
                <option value="queimadura">Queimadura</option>
                <option value="gripe">Gripe</option>
                <option value="calmante">Calmante</option>
                <option value="inflamações">Inflamação</option>
                <option value="ansiedade">Ansiedade</option>
                <option value="imunidade">Imunidade</option>
                <option value="memória">Memória</option>
                <option value="digestão">Digestão</option>
                <option value="infecção">Infecção</option>
                <option value="hormonal">Hormonal</option>
            </select>

            <select id="eficacia">
                <option value="">Selecione a eficácia</option>
                <option value="Antibacteriana e cicatrizante">Antibiótico</option>
                <option value="Antibacteriana e cicatrizante|Anti-inflamatória e cicatrizante" >Cicatrização</option>
                <option value="Anti-inflamatória e cicatrizante|Anti-inflamatória e digestiva|Anti-inflamatória e antioxidante|Anti-inflamatória e imunomoduladora">Anti-inflamatória</option>
                <option value="Calmante e relaxante|Calmante e ansiolítico|Calmante e antioxidante|Calmante e anti-inflamatória">Ansiolítico</option>
                <option value="Digestiva e hepatoprotetora">Hepatoprotetora</option>
                <option value="Calmante e antioxidante|Antioxidante e reguladora hormonal|Anti-inflamatória e antioxidante|Estimulante e antioxidante|Antioxidante e protetora gástrica|Antioxidante e diurético|Antioxidante e anti-inflamatório|Antioxidante e cardiovascular|Diurética e antioxidante">Antioxidante</option>
                <option value="Estimulante e afrodisíaca|Estimulante e antioxidante">Estimulante</option>
            </select>

            <button id="filtrar">Filtrar</button>
        </div>
        
        <div id="plantasContainer">
            <!-- Blocos de plantas serão adicionados aqui dinamicamente pelo JavaScript -->
        </div>
    </main>
    
    <!-- Modal de detalhes da planta -->
    <div id="plantDetailsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="plantaNome"></h2>
            <img id="plantaImagem" src="" alt="">
            <p id="plantaDescricao"></p>
            <p id="plantaEficacia"></p>
            <a id="plantaLink" href="" target="_blank">Leia mais sobre esta planta</a>
        </div>
    </div>

    <script src="../public/javascript/home.js"></script>
</body>
</html>
