<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <title>Login Etnobook</title>
  </head>
  <div class="logo">
    <img src="/public/image/logo.png" alt="Logo Etnobook" />
  </div>
  <body>
    <form class="login">
      <h2>Login</h2>
      <div class="box-user">
        <input type="text" name="" required />
        <label>Usuário</label>
      </div>
      <div class="box-user">
        <input type="password" name="" required />
        <label>Senha</label>
      </div>
      <div>
        <a href="#" class="forget"> Esqueceu a senha? </a>
      </div>
      <div>
        <a href="/views/home.html" class="button"> Entrar </a>
      </div>
      <div class="container">
        <button class="google-button">
          <img
            src="https://clipartcraft.com/images/google-logo-png.png"
            alt="Google logo"
            class="google-logo"
          />
          Entrar com Google
        </button>
      </div>
    </form>
    <script src="/public/javascript/login.js"></script>
  </body>
</html>
