<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/login.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Login Etnobook</title>
  </head>
  <div class="logo">
    <img src="../public/image/logo.png" alt="Logo Etnobook" />
  </div>
  <body>
    <form action="/login" method="POST" class="login">

      <h2>Login</h2>
      <div class="box-user">
        <input type="email" name="email" id="email" required />
        <label>email</label>
      </div>
      <small class="erro" id="textEmail"></small>

      <div class="box-user">
        <input type="password" name="senha" id="senha" required />
        <label>Senha</label>
      </div>
      <small class="erro" id="textSenha"></small>

      <div>
        <a href="../views/esq_senha.html" class="forget"> Esqueceu a senha? </a>
      </div>

      <div>
        <button type="submit" class="button">Entrar</button>
      </div>

      <div>
        <a href="../views/cadastro.html" class="button1"> Cadastre-se </a>
      </div>

      <div id="g_id_onload"
        data-client_id="818279025000-m1lg85biohr0h0ra3jmp3128lbunvn4i.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:9000/google-login"
        data-callback="handleCredentialResponse">
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large">
      </div>
    </form>
    <script src="../public/javascript/login.js"></script>
  </body>
</html>
